
/Code/ParadiseHome/UnitTest/bin
/Code/ParadiseHome/UnitTest/obj
/Code/ParadiseHome/TestResults
/Code/ParadiseHome/ParadiseHome.DAL.MySQL/bin
/Code/ParadiseHome/ParadiseHome.DAL.MySQL/obj
/Code/ParadiseHome/ParadiseHome.DAL.Interface/obj
/Code/ParadiseHome/ParadiseHome.DAL.Interface/bin
/Code/ParadiseHome/ParadiseHome.Common/obj
/Code/ParadiseHome/ParadiseHome.Common/bin
/Code/ParadiseHome/ParadiseHome.BLL/obj
/Code/ParadiseHome/ParadiseHome.BLL/bin
/Code/ParadiseHome/ParadiseHome/obj
/Code/ParadiseHome/ParadiseHome/bin